includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    excludePaths:
        analyse:
            - %currentWorkingDirectory%/tests

    ignoreErrors:
        -
            identifier: missingType.generics
    noUnnecessaryCollectionCall: false

    paths:
        - app

    level: 9

    treatPhpDocTypesAsCertain: false
